{% extends "base.html" %}

{% block title %}Home - WebDAV Cloud{% endblock %}

{% block content %}
    <h2>Password was created, write it down</h2>
    <form>
        <div class="mb-3">
        <label for="password" class="form-label">
            Your password:
        </label>
        <input type="text" name="password" id="password" disabled value="{{data.password}}" class="form-control"/>
        </div>

        <div class="mb-3">
        <label for="password_name" class="form-label">
            Password name:
        </label>
        <input type="text" name="password_name" id="password_name" disabled value="{{data.name_password}}" class="form-control"/>
        </div>

        <div class="mb-3">
        <label for="created-at" class="form-label">
            Created at:
        </label>
        <input type="datetime-local" name="created-at" id="created-at" disabled value="{{data.created_at}}" class="form-control"/>
        </div>



    <button type="button" class="btn btn-primary" onclick="window.location.href='/users/panel-password'">
        Go back
    </button>
    </form>


{% endblock %}